
<form #productForm="ngForm" (ngSubmit)="handleSubmit(productForm)">
<div class="mb-3">
    <label for="name" class="form-label">Product Name</label>
    <input 
        type="text" 
        class="form-control" 
        id="name" 
        name="name" 
        required
        minlength="3"
        [(ngModel)]="product.name"
        [ngClass]="{'is-invalid': name.invalid && name.touched}"
        #name="ngModel"
        />
        <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
            <div *ngIf="name.errors?.['required']">name is required</div>
        </div>
</div>
<div class="mb-3">
    <label for="image" class="form-label">Product Image</label>
    <input 
        type="text" 
        class="form-control" 
        id="image"  
        name="image" 
        [(ngModel)]="product.image"
        />
</div>
<div class="mb-3">
    <label for="price" >Product Price</label>
    <input 
        type="number" 
        class="form-control" 
        id="price" 
        name="price" 
        required
        min="0"
        [(ngModel)]="product.price"
        [ngClass]="{'is-invalid': price.invalid && price.touched}"
        #price="ngModel"
        />
        <div *ngIf="price.invalid && price.touched" class="invalid-feedback">
            <div *ngIf="price.errors?.['required']">Price is required</div>
            <div *ngIf="price.errors?.['min']">Price must be non-negative</div>
        </div>
</div>
<div class="mb-3">
    <label for="inStock" >In Stock</label>
    <input 
        type="checkbox" 
        class="form-check-input" 
        id="inStock" 
        name="inStock" 
        [(ngModel)]="product.inStock"
        />
</div>
   <button
    type="submit"
    class="btn btn-primary"
    [disabled]="productForm.invalid"
  >
    Submit
  </button>
</form>